{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": "eslint:recommended",
  "overrides": [
    {
      "env": {
        "node": true
      },
      "files": [".eslintrc.js", ".eslintrc.cjs", ".eslintrc"],
      "parserOptions": {
        "sourceType": "script"
      }
    }
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "no-useless-catch": "off",
    "no-constant-condition": "off",
    "no-unused-vars": "off",
    "no-undef": "off"
  }
}
